#lbltotalxgestionarnavadmin,
#lbltotalxrealizartecnicosadmin,
#lbltotalxrealizarproveedoresadmin,
#lbltotalpendientesxmaterialesadmin,
#lbltotalpendientesencomprasadmin,
#lbltotalpendientesconmaterialesadmin,
#lbltotalpendientesparavistobuenoadmin,
#lbltotalpendientescierrejefeadmin {
    width: 20px; /* Ancho */
    height: 20px; /* Alto */
    background-color: orange; /* Color de fondo naranja */
    border-radius: 50%; /* Hace que el elemento sea circular */
    text-align: center; /* Centra el contenido horizontal y verticalmente */
    line-height: 20px; /* Alinea el contenido verticalmente */
    color: rgb(255, 255, 255); /* Color del texto */
    font-weight: bold; /* Opcional: hace que el texto sea más visible */
    font-size: 11px; /* Tamaño de fuente más pequeño */
    display: inline-block; /* Evita que los elementos se comporten como bloques */
}
